@model IEnumerable<Amdproject.Models.filmrelatedpesonmodel>

@using Amdproject.Models






@foreach (var movie in Model)
{
    <!-- Movie Card Start -->
    <div class="card-view">
        <img src="@movie.pic" style="width:100%; height:200px;" alt="@movie.frpname" class="card-header">



        <div class="card-movie-content">
            <div class="card-movie-content-head">
                <a href="/Films/frpinfo/@movie.id">
                    <h3 class="card-movie-title">@movie.frpname</h3>
                </a>
                <div class="ratings"><span>@movie.dob.ToShortDateString()</span></div>
            </div>
           
        </div>
    </div>
}
<!-- Movie Card End -->
<!-- Movie Card Start -->





@section script{
    <script>
     //   $("#movielist").load('/Films/ListMovies?parentid=0');


    </script>
}